<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF Parser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
</head>
<body>
<div class="content" style="display: block; margin-top: 40px; margin-bottom: 40px; margin-left: 50px">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 form-group" style="display: flex">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="form-group row">
                <input type="file" name="file" multiple/>
            </div>
            <fieldset class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="csvOption" id="exampleRadios1"
                           value="multi" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Multi CSV files
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="csvOption" id="exampleRadios2"
                           value="single">
                    <label class="form-check-label" for="exampleRadios2">
                        One CSV file
                    </label>
                </div>
            </fieldset>
            <div class="form-group row">
                <input type="submit" class="btn btn-primary" id="btnSubmit" value="Upload">
            </div>
        </form>
    </div>
</div>
</body>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
</html>
